[Unit]
Description=Application to issue Google coupons to students.
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/home/ec2-user/google_sso/demon/start_server.sh
[Install]
WantedBy=multi-user.target
